.home-section {
  display: flex; /* Continue using flexbox */
  flex-direction: row; /* Align children horizontally */
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Keep items vertically centered */
  text-align: left; /* Align text to the left */
  padding: 0 5%; /* Add some padding on the sides */
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #1d1f21;
  color: #333;
}

/* Container for text to align it to the left */
.text-container {
  max-width: 50%; /* Limit the width of the text container */
}

.name-title {
  font-size: 85px;
  margin-bottom: 20px;
  color: #f5f5f5;
}

.subtitle,
.location {
  font-size: 32px;
}

/* Adjust shape styles if needed */
.shape {
  position: absolute;
  border-radius: 50%;
}

/* Example shape styles */
.triangle,
.circle,
.square {
  position: relative; /* You might want to adjust positioning based on your new layout */
}

/* Additional styles for the image or graphic on the right */
.graphic-container {
  max-width: 50%; /* Limit the width, adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}
