.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #929292;
  position: fixed; /* To make it stay at the top */
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensures it stays above other content */
  transition: all 0.3s ease-in-out;
  box-shadow: none; /* No shadow for a clean look */
  background-color: var(--bg-300);
  color: var(--text-100);
}

/* Add rounded corners and make it slightly transparent on scroll */
.header.scrolled {
  border-radius: 25px; /* Rounded corners */
  /* padding: 5px 40px; Smaller padding */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.logo-container h1 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.nav-container {
  flex-grow: 1; /* Allows the container to take up all available space */
  display: flex;
  justify-content: flex-end; /* Center the navigation links horizontally */
  align-items: center; /* Center the navigation links vertically */
  padding-right: 80px;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--text-100); /* Use the CSS variable for text color */
  font-size: 1rem;
  padding: 5px 10px;
}

.header nav ul li a:hover,
.header nav ul li a:focus {
  color: var(--primary-200);
  border-bottom: 2px solid var(--primary-200);
}

/* This ensures that the navbar links are not underlined by default */
.header nav ul li a {
  text-decoration: none;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-100);
  }

  .header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .header.scrolled {
    border-radius: 0; /* Remove border-radius on smaller screens for a full-width bar */
  }
}
