.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: #929292;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
  background-color: var(--bg-300); /* Default background color */
  color: var(--text-100);
}

/* Modify the scrolled class to include link color changes */
.header.scrolled {
  background-color: var(
    --primary-300
  ); /* Updated background color when scrolled */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Update link colors when header is scrolled */
.header.scrolled .nav-container a {
  color: var(--bg-100); /* New color for better visibility */
}

.logo-container h1 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
}

.nav-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 80px;
}

.header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--text-100); /* Initial color */
  font-size: 1rem;
  padding: 5px 10px;
}

.header nav ul li a:hover,
.header nav ul li a:focus {
  color: var(--primary-200);
  border-bottom: 2px solid var(--primary-200);
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-100);
  }

  .header nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .header.scrolled {
    border-radius: 0;
  }
}
