.footer {
  padding: 20px;
  text-align: center;
  background-color: var(--bg-200);
  color: var(--text-100);
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  display: inline;
  margin: 0 10px;
}

.footer a {
  text-decoration: none;
}
